html {
    background-color: black;
}

h1{
    text-transform: uppercase;
    text-align: center;
    
    color: white;
}
#tollywood {
    width: 20%;
    margin-left: 12%;
    height: 300px;
    border: 5px solid red;
    margin-top: 5%;
}
#bollywood {
    width: 20%;
    margin-left: 5%;
    height: 300px;
    border: 5px solid red;
    margin-top: 5%;
}
#kollywood {
    width: 20%;
    margin-left: 5%;
    height: 300px;
    border: 5px solid red;
    margin-top: 5%;
}
#mollywood {
    width: 20%;
    margin-left: 12%;
    height: 300px;
    border: 5px solid red;
    margin-top: 5%;
}
#sandlewood {
    width: 20%;
    margin-left: 5%;
    height: 300px;
    border: 5px solid red;
    margin-top: 5%;   
}
p {
    color: blue;
    width: 10%;
}